<form action="/user/profile" method="POST"></form>
<div class="container">
    <h3>Your Photo: </h3>
   
        ========event1========
        <div class="row">
        <% photo.forEach( function(photo) { %>
        <div class="card  col-12 col-sm-6 col-lg-4 col-xl-3">
            <img class="card-img-top" src="/images/<%= photo.filename %>" alt="no photo" width="200" height="200">
            
            <div class="card-body">
                <h3 class="card-title">
                    <%= photo.description %>
                </h3>

            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                            <b>DateTimeOriginal:</b>
        
                            <%= photo.exifData.exif.DateTimeOriginal %>
                        </li>
                        <li class="list-group-item">
                            <b>Post Date and Time:</b>
        
                            <%= photo.createdAt %>
                        </li>
        

            </ul>
            <div class="card-body">
                <a href="../photo/upload" class="card-link">Detail</a>
                <br>
                <a href="../user/login" class="card-link">Register</a>
            </div>
        </div>


        <% }); %>



    </div>
   
    <div>
        <!-- <a href="../event/allevent" id="loadMore">Show More</a> -->

        <p class="totop">
            <a href="#top">Back to top</a>
        </p>
    </div>
</div>

<br>

<% const current = Number(req.query.page || 1); %>

<nav aria-label="Page navigation example" >
       
    <ul class="pagination justify-content-center">               
            <li class="page-item">
                <a class="page-link" href="/user/profile/?page=<%= Math.max(current-1, 1) %>">Previous</a>
            </li>
    
            <% for (i = 1; i <= count; i++) { %>
                <li class="page-item">
                    <a class="page-link" href="/user/profile/?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
           
            <li class="page-item">
                <a class="page-link" href="/user/profile/?page=<%= Math.min(current+1, count) %>">Next</a>
            </li>
        </ul>
    </nav>
