<table class="table">
        <tr>
            <td>Username: </td>
            <td><%=photo.username%></td>
     </tr> <tr>
            <td>Model: </td>
            <td><%=photo.Model%> </td>
     </tr><tr>
            <td>Aperture Value: </td>
            <td> <%=photo.MaxApertureValue%></td>
    </tr><tr>
            <td>ExposureTime: </td>
            <td><%=photo.ExposureTime%></td>
     </tr><tr>
            <td>ISO: </td>
            <td><%=photo.ISO%></td>
    </tr><tr>
            <td>Original Date&Time: </td>
            <td><%=photo.DateTimeOriginal%> </td>
    </tr><tr>
             <td>FocalLength: </td>
             <td><%=photo.FocalLength%></td>
    </tr><tr>
            <td>description: </td>
            <td><%=photo.description%></td>
    </tr>
        
    </table>